<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-10">
            <h1>To'lovlarim</h1>
          </div>
          <div class="col-sm-2">
                <a href="/payments/add" class="btn btn-primary">To'lov qo'shish</a>
            </div>
        </div>
      </div>
    </section>