  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>Asosiy</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                {{!-- <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Guruh nomi</th>
                                <th>Boshlanish sanasi</th>
                                <th>Tugash sanasi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>BE2</td>
                                <td>01.03.2023</td>
                                <td>31.12.2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div> --}}
                 <ol>ism-familiya: <b>Abdumalik Voxidov</b> </ol> 
                 <ol>tug`ilgan sanasi: <b>05.09.2003</b> </ol> 
                 <ol>doimiy yashash manzili: <b>Buxoro shahar</b> </ol> 
                 <ol>partiyaviyligi: <b>yoq</b> </ol> 
                 <ol>ma`lumoti: <b>tugallanmagan oliy</b> </ol> 
                
                  <ol>
                    mehnat faoliyati: </ol> 
                    <b><ol> 1. 2007-2008-y. Buxoro viloyat Jondor tumani 8-maktab</ol> </b>             
                   <b> 
                    <ol> 2. 2008-2020-y. Buxoro viloyat Buxoro shahar 30-maktab</ol>
                   </b>  
                   <b> 
                    <ol>3. 2020y-  Qashqadaryo viloyat Toshkent axborot texnologiyalari universiteti Qarshi filiali</ol>
                    </b> 
            </div>
        </div>
    </section>